{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}

<div class="h-100 text-center d-flex p-3 bg-light mt-5">
    <div class="m-auto">
    
        <h1 class="title mb-5 font-weight-bold">Электронная библиотека</h1>
        
        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                Добро пожаловать в нашу электронную библиотеку! Здесь вы найдете тысячи книг на любой вкус: 
                от классической литературы до современных бестселлеров. 
                Удобный интерфейс позволяет легко искать и скачивать книги в различных форматах. 
                Наслаждайтесь чтением в любое время и в любом месте!
            </p>

        </div>

        <h2 class="title mb-5 font-weight-bold">Каталог книг</h2>
        
        <table class="table">
            <tr>
                <th>Обложка книги</th>
                <th>Название</th>
                <th>Жанр(ы)</th>
                <th>Год</th>
                <th>Рейтинг</th>
                <th>Количество рецензий</th>
                <th>Действия</th>
            </tr>
            {% for book in books %}
            <tr>
                <td style="background-image: url({{ url_for('image', image_id=book.image_id) }});vertical-align: middle; background-size: contain; background-repeat: no-repeat; background-position: center; height: 150px;"> </td>
                <td style="vertical-align: middle;"> {{ book.name }}</td>
                <td style="vertical-align: middle;"> 
                    {% for genre in book.genres %}
                    {{ genre.name }}
                    {% endfor %}
                </td>
                <td style="vertical-align: middle;"> {{ book.year_release }}</td>
                <td style="vertical-align: middle;"> <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span> </td>
                <td style="vertical-align: middle;"> {{ book.rating_num }} </td>
                <td style="vertical-align: middle;">
                    <div class="btn-group" role="group">
                        <a class="btn btn-secondary" href="{{url_for('show', book_id=book.id)}}">Просмотр</a>
                        {% if current_user.is_authenticated %}
                        {% if current_user.can('edit') %}
                        <a class="btn btn-primary" href="{{url_for('edit', book_id = book.id)}}">Редактировать</a>
                        {% endif %}
                        {% if current_user.can('delete') %}
                        <button class="btn btn-danger" data-url="{{url_for('delete', book_id = book.id)}}" 
                        data-bs-toggle="modal" data-bs-target="#deleteBook">Удалить</button>

                        {% endif %}
                        {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if current_user.is_authenticated and current_user.can('create') %}
        <div class="text-center mt-5 mb-5">
            <a class="btn btn-lg btn-dark" href="{{ url_for('new') }}">Добавить книгу</a>
        </div>
        {% endif %}
        {% if current_user.is_authenticated and current_user.can('delete') %}
        <div class="modal fade" id="deleteBook" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Удаление книги</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите удалить книгу <span id="bookLogin"></span>?</p>
                        <form class="d-none" action="" method="POST">
                            <input type="submit" id="deleteBookButton">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <label class="btn btn-danger" for="deleteBookButton">Удалить</label>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="mb-5">
            {{ render_pagination(pagination, request.endpoint) }}
        </div>
    </div>
    
</div>



{% endblock %}