{% extends 'base.html' %}

{% block content %}
<div class="h-100 text-center d-flex p-3 bg-light">
    <div class="m-auto">
        <h1 class="title mb-5 font-weight-bold">Электронная библиотека</h1>
        
        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eius quisquam harum eveniet quidem ratione deserunt itaque. Corrupti ullam quo delectus ratione, totam nisi perspiciatis suscipit cupiditate? Assumenda, accusamus ullam?
            </p>

            <h2 class="title mb-5 font-weight-bold">Каталог книг</h2>
            
        </div>
    </div>
</div>
{% endblock %}